.button {
  background-color: var(--brand-color-contactbook);
  margin-bottom: 20px;
  margin-top: 20px;
}

.button:hover {
  background-color: var(--brand-color-contactbook-hover);
}

.button_disabled {
  background-color: var(--brand-color-contactbook-hover);
  color: #adb5bd;
  cursor: not-allowed;
  margin-bottom: 20px;
  margin-top: 20px;
}

.button_disabled:hover {
  background-color: var(--brand-color-contactbook-hover);
}
