.nav_link {
  font-weight: bold;
  color: var(--link);
  text-decoration: none;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 13px;
}

.nav_link:hover {
  color: var(--link-hover);
}

.container {
  /*margin: 0 auto;*/
  /*max-width: 1200px;*/
  /*padding: 0 15px;*/
}
